.backG{
    background: linear-gradient( #2193b0, #6dd5ed );
    width: 100%;
    background-size: cover;
    height: 100vh;

}

.form-container{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    margin-top: 45%;
}
